

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <h1>
      Welcome to {{ title }}!
  </h1>
  </mat-grid-tile>
  <mat-grid-tile><router-outlet></router-outlet></mat-grid-tile>
  <mat-grid-tile>
      <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
        
          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
        
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  </mat-grid-tile>
  <mat-grid-tile><button mat-button>Click me!</button></mat-grid-tile>
 
</mat-grid-list>







